DATABASE_URL=your_own_database_url
DATABASE_USERNAME=your_own_database_username
DATABASE_PASSWORD=your_own_database_password
JWT_SECRET=your_own_jwt_secret
JWT_EXPIRATION=your_own_jwt_expiration_time
PAYSTACK_SECRET_KEY=your_own_paystack_key
PAYSTACK_CALLBACK_URL=your_own_paystack_url