DATABASE_URL=your_own_database_url
DATABASE_USERNAME=your_own_database_username
DATABASE_PASSWORD=your_own_database_password
JWT_SECRET=your_own_jwt_secret
JWT_EXPIRATION=your_own_jwt_expiration_time
PAYSTACK_SECRET_KEY=your_own_paystack_key
PAYSTACK_CALLBACK_URL=your_own_paystack_url
GOOGLE_APP_USERNAME=yourname@gmail.com
GOOGLE_APP_PASSWORD=your_google_app_password

B2_ENABLED=true
B2_ENDPOINT=your_b2_endpoint
B2_REGION=
B2_BUCKET=
B2_KEY_ID=
B2_APPLICATION_KEY=
